@import '../../styles/main.scss';

.btn {
   background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
   border-radius: 10px;
   text-transform: capitalize;
   color: #00040E;
   font-weight: 500;
   line-height: 150%;

   :hover {}
}