@import '../../styles/main.scss';

.cta {
   padding: 30px;

   &__container {
      max-width: 1230px;
      margin: 0 auto;
      background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
      border-radius: 20px;
   }

   &__content {
      @include adaptiveValue('padding', 60, 20, 1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @include adaptiveValue('gap', 40, 20, 1);
   }

   &__article {
      flex: 0 1 60%;
      text-align: center;
   }

}

@media (max-width: 750px) {
   .cta__content {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
}