@import '../../styles/main.scss';

.comment {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: start;
   padding: 40px;
   text-align: left;
   height: 100%;
   border-radius: 20px;

   &:hover {
      background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
   }

   img {
      width: 42.6px;
      height: 27.6px;
      @include adaptiveValue('margin-bottom', 40, 10, 1);
   }

   &__title {}

   &__text {
      font-size: 18px;
      line-height: 180%;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      @include adaptiveValue('margin-bottom', 56, 25, 1);
      margin-top: 40px;
      flex: 1 1 auto;
   }

   &__profession {
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      opacity: 0.5;
   }

   &__name {
      font-size: 20px;
      line-height: 32px;
      color: #FFFFFF;
   }

   &__man {
      display: flex;
      gap: 16px;

      img {
         width: 48px;
         height: 48px;
      }
   }
}