@import '../../styles/main.scss';

.footer {
   @include adaptiveValue('padding-top', 100, 30, 1);

   &__container {
      max-width: 1230px;
      margin: 0 auto;
      padding: 30px;

   }

   &__content {
      text-align: left;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 40px;
      border-bottom: 1px solid #3F3E45;
      margin-bottom: 30px;
      gap: 50px;

   }

   &__column {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;


      p {

         font-weight: 500;
         font-size: 18px;
         line-height: 150%;
         text-align: center;
         color: #FFFFFF;
      }

      a {
         font-size: 16px;
         line-height: 150%;
         color: rgba(255, 255, 255, 0.7);

      }
   }

   &__logo {
      flex: 0 1 25%;

      img {
         width: 191px;
         margin-bottom: 34px;
      }

      p {
         font-size: 18px;
         line-height: 32px;
         color: rgba(255, 255, 255, 0.7);
      }
   }

   &__copy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      p {
         font-size: 18px;
         line-height: 150%;
         color: rgba(255, 255, 255, 0.6);
      }

      div {
         display: flex;
         gap: 36px;
      }
   }
}

@media (max-width:$md3) {
   .footer__copy {
      text-align: center;
      flex-direction: column;
      gap: 30px;
   }

   .footer__content {
      justify-content: start;
      gap: 30px;
   }
}